<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-COMMERCE</title>
</head>
<body>
    <nav>
        <a href="{% url 'product_list' %}">HOME</a>
        {% if user.is_authenticated %}
            Welcome {{ user.username }}
            <a href="{% url 'view_cart' %}">CART</a>
            <a href="{% url 'logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'login' %}">LOGIN</a>
            <a href="{% url 'register' %}">REGISTER</a>
        {% endif %}
        </nav>
<hr>
{% block content %}
{% endblock %}

    
</body>
</html>