body {
    font-family: Arial, sans-serif;
    background-color:rgb(182, 182, 236);
    margin: 0;
    padding: 20px;
}


div {
    background: rgb(243, 237, 237);
    width: 220px;
    height: 320px;             
    padding: 12px;
    margin: 12px;
    border: 1px solid white;
    display: inline-block;
    text-align: center;  
}


div img {
    width: 100%;
    height: 160px;              
    object-fit: contain; 
}
